@use './partials/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

body {
    background-image: url('img/body-bg.jpg');
    background-size: cover;
    font-family: 'Bruno Ace SC', cursive;
}

.myContainer {
    width: 75%;
    margin: 0 auto;
}

.subtitle {
    color: rgba(211, 211, 211, 0.6);
    margin: 0;
}

.upcoming {
    background-color: $secondary-color;
    width: 250px;
    transform: skew(-20deg);

    h4 {
        font-weight: bold;
        padding: .2rem .4rem;
    }
}

ul {
    list-style: none;
}

.horizontal {
    height: 2px;
    width: 5%;
    background-color: $secondary-color;
}

// Scrollbar config
::-webkit-scrollbar {
    width: 8px;
    height: 8px;

}

::-webkit-scrollbar-thumb {
    background-color: $light-color;
    border-radius: 25px;
}


::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $secondary-color;
}