@use './partials/variables' as *;

$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'bootstrap/scss/bootstrap';

body {
    background-image: url('img/body-bg.jpg');
    background-size: cover;
}

.myContainer {
    width: 75%;
    margin: 0 auto;
}

.subtitle {
    color: rgba(211, 211, 211, 0.6);
    margin: 0;
}

.upcoming {
    background-color: $secondary-color;
    width: 200px;
    border-radius: 20% 0%;
}

ul {
    list-style: none;
}

.horizontal {
    height: 2px;
    width: 5%;
    background-color: $secondary-color;
}